## Data Analysis

In [1]:
# Data Cleaning with the Asda Halal Meat Products

# Loading the data and assessing the data

In [1]:
# Loading the data
import pandas as pd

asda_df = pd.read_csv('Data/halal_meat_data_asda.csv')

In [95]:
asda_df.head()

,Title,Ratings,Price,Price_per_Kg
0,Shazans Halal Beef Mince (Typically Less Than ...,2.38,now £4.40,(£8.80/kg)
1,Shazans Halal Chicken Breast Fillets,3.58,now £4.00,(£8.89/kg)
2,Shazans Diced Chicken Breast,3.08,now £4.35,(£9.67/kg)
3,Shazans Chicken Mini Fillets,3.00,now £4.50,(£9.00/kg)
4,Shazans Chicken Thigh Fillets,2.15,now £4.50,(£7.50/kg)

In [3]:
asda_df.info()
# In Pandas, when the info() function reports the data type as object, it generally means that the column contains mixed data types or that it is a non-numeric data type. 
# In your case, the "Title," "Price," and "Price_per_Kg" columns are all identified as object.
#The object data type in Pandas is a catch-all for various non-numeric types, such as strings, mixed types, or instances where the data type could not be determined automatically.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         128 non-null    object
 1   Ratings       128 non-null    float64
 2   Price         128 non-null    object
 3   Price_per_Kg  127 non-null    object
dtypes: float64(1), object(3)
memory usage: 4.1+ KB

In [4]:
asda_df.describe()

          Ratings
count  128.000000
mean     3.748281
std      0.820802
min      1.000000
25%      3.215000
50%      3.815000
75%      4.330000
max      5.000000

In [9]:
## Let's do some cleaning to the data frame

In [69]:
# Let's do data type conversion 
# first start with the title - this is has been recognised as a object as there is a mixture of characters and numbers but this should be a strign data type
# as we will be making changes to our data frame, let's have the df as a new version to leave the original version
asda_df_new = asda_df.copy()

# converting the title data type
# asda_df_new['Title'] = asda_df_new['Title'].astype('str') # this didnt make much difference

In [47]:
asda_df_new.head()

,Title,Ratings,Price,Price_per_Kg
0,Shazans Halal Beef Mince (Typically Less Than ...,2.38,now £4.40,(£8.80/kg)
1,Shazans Halal Chicken Breast Fillets,3.58,now £4.00,(£8.89/kg)
2,Shazans Diced Chicken Breast,3.08,now £4.35,(£9.67/kg)
3,Shazans Chicken Mini Fillets,3.00,now £4.50,(£9.00/kg)
4,Shazans Chicken Thigh Fillets,2.15,now £4.50,(£7.50/kg)

In [7]:
asda_df.info()
asda_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         128 non-null    object
 1   Ratings       128 non-null    float64
 2   Price         128 non-null    object
 3   Price_per_Kg  127 non-null    object
dtypes: float64(1), object(3)
memory usage: 4.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         128 non-null    object
 1   Ratings       128 non-null    float64
 2   Price         128 non-null    object
 3   Price_per_Kg  127 non-null    object
dtypes: float64(1), object(3)
memory usage: 4.1+ KB

In [8]:
# print(asda_df_new['Title'].dtype)

asda_df_new.head()

,Title,Ratings,Price,Price_per_Kg
0,Shazans Halal Beef Mince (Typically Less Than ...,2.38,now £4.40,(£8.80/kg)
1,Shazans Halal Chicken Breast Fillets,3.58,now £4.00,(£8.89/kg)
2,Shazans Diced Chicken Breast,3.08,now £4.35,(£9.67/kg)
3,Shazans Chicken Mini Fillets,3.00,now £4.50,(£9.00/kg)
4,Shazans Chicken Thigh Fillets,2.15,now £4.50,(£7.50/kg)

In [64]:
# Let's remove the string character from the price column (i.e. 'now £') and convert it to float 
asda_df_new['Price'] = asda_df_new['Price'].str.replace('now £', '').astype('float')

In [65]:
asda_df_new.head()

,Title,Ratings,Price,Price_per_Kg
0,Shazans Halal Beef Mince (Typically Less Than ...,2.38,4.40,(£8.80/kg)
1,Shazans Halal Chicken Breast Fillets,3.58,4.00,(£8.89/kg)
2,Shazans Diced Chicken Breast,3.08,4.35,(£9.67/kg)
3,Shazans Chicken Mini Fillets,3.00,4.50,(£9.00/kg)
4,Shazans Chicken Thigh Fillets,2.15,4.50,(£7.50/kg)

In [18]:
# Convert the 'Price' column to a numeric type
# asda_df_new['Price'] = pd.to_numeric(asda_df_new['Price'], errors='coerce')

asda_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         128 non-null    object
 1   Ratings       128 non-null    float64
 2   Price         128 non-null    float64
 3   Price_per_Kg  127 non-null    object
dtypes: float64(2), object(2)
memory usage: 4.1+ KB

In [39]:
print(asda_df_new['Price'].dtype)

float64

In [40]:
# df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
# asda_df_new = 
asda_df_new.rename(columns={'Ratings': 'Ratings(Out of 5)','Price': 'Price(£)'},)

,Title,Ratings(Out of 5),Price(£),Price_per_Kg
0,Shazans Halal Beef Mince (Typically Less Than ...,2.38,4.40,(£8.80/kg)
1,Shazans Halal Chicken Breast Fillets,3.58,4.00,(£8.89/kg)
2,Shazans Diced Chicken Breast,3.08,4.35,(£9.67/kg)
3,Shazans Chicken Mini Fillets,3.00,4.50,(£9.00/kg)
4,Shazans Chicken Thigh Fillets,2.15,4.50,(£7.50/kg)
...,...,...,...,...
123,Melis Pastirma Turkish Style Spicy Cured Beef,2.33,2.50,(£3.12/100g)
124,Aunty Noray's 6 Hand Made Charcoaled Premium C...,3.63,3.50,(£11.67/kg)
125,"Tahira 4 Chicken Grills, Four Peppers Flavour",2.50,1.25,(£4.81/kg)
126,Wai Wai X-Press Instant Noodles Creamy Chicken...,5.00,2.50,(£7.14/kg)
127,Indomie Indomie Noodles Special Chicken Flavou...,5.00,2.50,(£6.67/kg)

In [22]:
asda_df_new['Price_per_Kg'].unique()

array(['(£8.80/kg)', '(£8.89/kg)', '(£9.67/kg)', '(£9.00/kg)',
       '(£7.50/kg)', '(£4.00/kg)', '(£4.30/kg)', '(£4.69/kg)',
       '(£5.36/kg)', '(£4.15/kg)', '(£5.56/kg)', '(£9.47/kg)',
       '(£4.50/kg)', '(£4.61/kg)', '(£3.44/kg)', '(£1.73/100g)',
       '(£5.80/kg)', '(£9.69/kg)', '(£10.38/kg)', '(£2.00/100g)',
       '(£1.47/100g)', '(£2.30/100g)', '(£9.29/kg)', '(£8.87/kg)',
       '(22.5p/each)', '(£7.00/kg)', '(£12.57/kg)', '(55.0p/100g)',
       '(£11.67/kg)', '(£10.29/kg)', '(£4.78/kg)', '(£9.60/kg)',
       '(£4.29/kg)', '(£1.89/100g)', '(£4.28/kg)', '(78.6p/100g)',
       '(£5.88/kg)', nan, '(92.9p/100g)', '(£25.00/kg)', '(£8.57/kg)',
       '(£13.00/kg)', '(£2.15/100g)', '(£6.25/kg)', '(£1.03/100g)',
       '(£7.60/kg)', '(£14.17/kg)', '(£12.00/kg)', '(£1.17/100g)',
       '(£4.57/100g)', '(£2.94/100g)', '(£8.93/kg)', '(£1.80/100g)',
       '(£8.33/kg)', '(57.5p/100g)', '(46.0p/100g)', '(£5.19/kg)',
       '(£6.00/kg)', '(65.0p/100g)', '(48.0p/100g)', '(£1.29/100g)',
       '(£4.64/100g)', '(£5.21/kg)', '(£4.71/kg)', '(44.8p/100g)',
       '(15.0p/10g)', '(76.9p/100g)', '(£9.17/kg)', '(£1.12/100g)',
       '(£19.03/kg)', '(£8.01/kg)', '(£5.00/kg)', '(71.4p/100g)',
       '(75.0p/100g)', '(£4.85/kg)', '(£1.30/100g)', '(£1.53/100g)',
       '(46.2p/100g)', '(£21.90/kg)', '(£1.33/100g)', '(£13.85/kg)',
       '(£8.67/kg)', '(£11.54/kg)', '(£1.05/100g)', '(£9.74/kg)',
       '(£3.12/100g)', '(£4.81/kg)', '(£7.14/kg)', '(£6.67/kg)'],
      dtype=object)

In [41]:
asda_df_new['Price_per_Kg'].value_counts()

(76.9p/100g)    4
(71.4p/100g)    4
(£4.50/kg)      4
(55.0p/100g)    3
(£6.00/kg)      3
               ..
(£4.57/100g)    1
(£2.94/100g)    1
(£8.93/kg)      1
(£1.80/100g)    1
(£6.67/kg)      1
Name: Price_per_Kg, Length: 88, dtype: int64

In [26]:
asda_df_new['Price_per_Kg'].value_counts().isnull()

(76.9p/100g)    False
(71.4p/100g)    False
(£4.50/kg)      False
(55.0p/100g)    False
(£6.00/kg)      False
                ...
(£4.57/100g)    False
(£2.94/100g)    False
(£8.93/kg)      False
(£1.80/100g)    False
(£6.67/kg)      False
Name: Price_per_Kg, Length: 88, dtype: bool

In [99]:
# import pandas as pd
# import numpy as np

# # Assuming your dataframe is named 'asda_df_new'
# price_column = 'Price_per_kg'

# # Step 1: Remove missing values (NaN)
# asda_df_new = asda_df_new.dropna(subset=[price_column])

# # Step 2: Define a function to clean the price values
# def clean_price(value):
#     if 'kg' in value:
#         return float(value.replace(' (£', '').replace('/Kg)', ''))
#     elif '100g' in value:
#         # Extract the numeric value from the string and convert to float
#         price_per_100g = float(value.replace(' (£', '').replace('/100g)', ''))
#         # Convert price per 100g to price per kg
#         price_per_kg = price_per_100g * 10
#         return price_per_kg
#     elif 'p/each' in value:
#         # Extract the numeric value from the string and convert to float
#         price_per_each = float(value.replace('(22.5p/each)', '').replace('(55.0p/each)', ''))
#         # Assuming each item is 100g, convert price per item to price per kg
#         price_per_kg = price_per_each * 10
#         return price_per_kg
#     else:
#         return np.nan  # If the format is not recognized, return NaN

# # Step 3: Apply the clean_price function to the entire column
# asda_df_new[price_column] = asda_df_new[price_column].apply(clean_price)

# # Now, 'Price_per_kg' column should be cleaned according to your requirements
# print(asda_df_new[price_column])

KeyError: ['Price_per_kg']

0        8.80kg
1        8.89kg
2        9.67kg
3        9.00kg
4        7.50kg
         ...
123    3.12100g
124     11.67kg
125      4.81kg
126      7.14kg
127      6.67kg
Name: Price_per_Kg, Length: 128, dtype: object

In [86]:
import numpy as np

# Step 1: Remove unnecessary characters and convert to string
asda_df_new['Price_per_Kg'] = asda_df_new['Price_per_Kg'].astype(str).str.replace('[^\d.gk]', '', regex=True)

# Step 2: Identify entries with 'kg' and 'g' and extract numeric part
def convert_price(x):
    if 'kg' in x:
        return float(x.replace('kg', ''))
    elif 'g' in x:
        return float(x.replace('g', '')) / 1000  # Convert grams to kilograms
    else:
        return np.nan

asda_df_new['Price_per_Kg'] = asda_df_new['Price_per_Kg'].apply(convert_price)

# # Display the cleaned DataFrame
print(asda_df_new)

                                                 Title  Ratings      Price  \
0    Shazans Halal Beef Mince (Typically Less Than ...     2.38  now £4.40
1                 Shazans Halal Chicken Breast Fillets     3.58  now £4.00
2                         Shazans Diced Chicken Breast     3.08  now £4.35
3                         Shazans Chicken Mini Fillets     3.00  now £4.50
4                        Shazans Chicken Thigh Fillets     2.15  now £4.50
..                                                 ...      ...        ...
123      Melis Pastirma Turkish Style Spicy Cured Beef     2.33  now £2.50
124  Aunty Noray's 6 Hand Made Charcoaled Premium C...     3.63  now £3.50
125      Tahira 4 Chicken Grills, Four Peppers Flavour     2.50  now £1.25
126  Wai Wai X-Press Instant Noodles Creamy Chicken...     5.00  now £2.50
127  Indomie Indomie Noodles Special Chicken Flavou...     5.00  now £2.50

     Price_per_Kg
0        8.800000
1        8.890000
2        9.670000
3        9.000000
4        7.500000
..            ...
123      0.003121
124     11.670000
125      4.810000
126      7.140000
127      6.670000

[128 rows x 4 columns]

In [82]:
# Step 1: Remove unnecessary characters and convert to string
# asda_df_new['Price_per_Kg'] = 
# asda_df_new['Price_per_Kg'].astype(str).str.replace('[^\d.]', '', regex=True)

# # Step 2: Identify entries with 'kg' and extract numeric part
# asda_df_new['Price_per_Kg'] = asda_df_new['Price_per_Kg'].apply(lambda x: float(x) if 'kg' in x else None)

# # Step 3: Identify entries with 'g' and convert price per 100g to price per kg
# g_mask = asda_df_new['Price_per_Kg'].apply(lambda x: 'g' in x if x else False)
# asda_df_new.loc[g_mask, 'Price_per_Kg'] *= 10  # Convert to price per kg

# # Display the cleaned DataFrame
# print(asda_df_new)

0         8.80
1         8.89
2         9.67
3         9.00
4         7.50
        ...
123    3.12100
124      11.67
125       4.81
126       7.14
127       6.67
Name: Price_per_Kg, Length: 128, dtype: object

In [79]:
# Creating the user-defined function
def conversion(x):
    # Check if 'g' is present in the string
    if isinstance(x, str) and 'g' in x:
        # Extract numeric part and convert to float
        num = float(''.join(c for c in x if c.isdigit() or c == '.')) / 1000
    elif isinstance(x, str) and 'kg' in x:
        # Extract numeric part and convert to float
        num = float(''.join(c for c in x if c.isdigit() or c == '.'))
    elif isinstance(x, str):
        # If not 'g' or 'kg', return NaN
        num = None
    else:
        # Handle case when x is already a numeric value
        num = x
    return num


# Apply the user-defined function to the 'Price_per_Kg' column
asda_df_new['Price_per_Kg'] = asda_df_new['Price_per_Kg'].apply(lambda x: conversion(x))
# asda_df_new['Price_per_Kg'].apply(lambda x: conversion(x))

In [80]:
asda_df_new['Price_per_Kg'].head()

0    0.00880
1    0.00889
2    0.00967
3    0.00900
4    0.00750
Name: Price_per_Kg, dtype: float64

In [66]:
# Task 1: Remove unwanted characters
# Use the .replace() method to remove unwanted characters like '(', ')', '£', 'kg', and '/100g'.

asda_df_new['Price_per_Kg'] = asda_df_new['Price_per_Kg'].replace(['\(', '\)', '£', 'kg','/100g', '/'], '', regex=True)

# asda_df_new['Price_per_Kg'].replace(['\(', '\)', '£', 'kg', '/'], '', regex=True)

In [68]:
asda_df_new.head()

,Title,Ratings,Price,Price_per_Kg
0,Shazans Halal Beef Mince (Typically Less Than ...,2.38,4.40,8.80
1,Shazans Halal Chicken Breast Fillets,3.58,4.00,8.89
2,Shazans Diced Chicken Breast,3.08,4.35,9.67
3,Shazans Chicken Mini Fillets,3.00,4.50,9.00
4,Shazans Chicken Thigh Fillets,2.15,4.50,7.50

In [67]:
asda_df_new['Price_per_Kg'].str.contains('g')

0      False
1      False
2      False
3      False
4      False
       ...
123    False
124    False
125    False
126    False
127    False
Name: Price_per_Kg, Length: 128, dtype: object

## Cleaning the price_per_kg

In [2]:
# Loading the data
import pandas as pd

asda_df = pd.read_csv('Data/halal_meat_data_asda.csv')

In [3]:
asda_df_new = asda_df.copy()

In [4]:
asda_df_new.head(20)

,Title,Ratings,Price,Price_per_Kg
0,Shazans Halal Beef Mince (Typically Less Than ...,2.38,now £4.40,(£8.80/kg)
1,Shazans Halal Chicken Breast Fillets,3.58,now £4.00,(£8.89/kg)
2,Shazans Diced Chicken Breast,3.08,now £4.35,(£9.67/kg)
3,Shazans Chicken Mini Fillets,3.00,now £4.50,(£9.00/kg)
4,Shazans Chicken Thigh Fillets,2.15,now £4.50,(£7.50/kg)
5,Shazans Halal Small Chicken,3.85,now £4.00,(£4.00/kg)
6,Shazans Chicken Drumsticks,3.16,now £4.30,(£4.30/kg)
7,Shazans Peri Peri Baby Chicken,3.95,now £3.75,(£4.69/kg)
8,Shazans Lamb Sausages,3.04,now £4.50,(£5.36/kg)
9,Shazans Chicken Drumsticks & Thighs,3.31,now £4.15,(£4.15/kg)
10,Shazans Chicken Thighs,2.79,now £4.30,(£4.30/kg)
11,Shazans Halal Peri Peri Chicken Thighs,3.44,now £5.00,(£5.56/kg)
12,Gino's Premium Southern Fried Chicken Fillets,3.57,now £3.75,(£7.50/kg)
13,Shazans 4 Quarter Pound Beef Burgers,3.22,now £4.30,(£9.47/kg)
14,Jahan Southern Fried Chicken Popcorn,3.29,now £2.25,(£4.50/kg)
15,Shazans Peri Peri Chicken Drumsticks,3.50,now £4.15,(£4.61/kg)
16,Shazans Halal Peri Peri Chicken Platter,2.75,now £5.50,(£3.44/kg)
17,Jahan Battered Chicken Nuggets,3.04,now £2.25,(£4.50/kg)
18,Najma Halal Sliced Turkey Rashers Smoked 150g,4.08,now £2.60,(£1.73/100g)
19,Gino's Battered Chicken Nuggets,2.41,now £2.90,(£5.80/kg)

In [6]:
asda_df_new = asda_df_new.dropna(subset=['Price_per_Kg'])

In [8]:
asda_df_new['Price_per_Kg'].isnull

<bound method Series.isnull of 0        (£8.80/kg)
1        (£8.89/kg)
2        (£9.67/kg)
3        (£9.00/kg)
4        (£7.50/kg)
           ...
123    (£3.12/100g)
124     (£11.67/kg)
125      (£4.81/kg)
126      (£7.14/kg)
127      (£6.67/kg)
Name: Price_per_Kg, Length: 127, dtype: object>

In [10]:
import re

# Extract numeric values and units
asda_df_new['Numeric'] = asda_df_new['Price_per_Kg'].apply(lambda x: re.findall(r'\d+\.\d+|\d+', str(x)))
asda_df_new['Unit'] = asda_df_new['Price_per_Kg'].apply(lambda x: re.findall(r'kg|g', str(x)))

/var/folders/18/757wgvw17hn8_6yn6nkg5twm0000gn/T/ipykernel_58222/383294616.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asda_df_new['Numeric'] = asda_df_new['Price_per_Kg'].apply(lambda x: re.findall(r'\d+\.\d+|\d+', str(x)))
/var/folders/18/757wgvw17hn8_6yn6nkg5twm0000gn/T/ipykernel_58222/383294616.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asda_df_new['Unit'] = asda_df_new['Price_per_Kg'].apply(lambda x: re.findall(r'kg|g', str(x)))

In [12]:
for i in range(len(asda_df_new)):
    if 'kg' in asda_df_new['Unit'][i]:
        asda_df_new.at[i, 'Price_per_kg'] = float(asda_df_new['Numeric'][i][0])
    elif 'g' in asda_df_new['Unit'][i]:
        asda_df_new.at[i, 'Price_per_kg'] = float(asda_df_new['Numeric'][i][0]) / 100 * 10

/var/folders/18/757wgvw17hn8_6yn6nkg5twm0000gn/T/ipykernel_58222/3177366208.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asda_df_new.at[i, 'Price_per_kg'] = float(asda_df_new['Numeric'][i][0])

KeyError: 47